In [1]:
import pandas as pd
import pymongo
import mysql.connector
import json
import plotly.express as px

In [2]:
#connecting to mongodb
client= pymongo.MongoClient("mongodb+srv://priya123:FLAXnahS95SgJLHA@cluster0.uw7a71f.mongodb.net/test?authMechanism=DEFAULT")
db = client['sample_airbnb']
col=db['listingsAndReviews']

In [3]:
#airnbnb dataset extraction from mongodb 
data1= []
for i in col.find({}, {'_id': 1, 'listing_url': 1, 'name': 1, 'property_type': 1, 'room_type': 1, 'bed_type': 1,
                                       'minimum_nights': 1, 'maximum_nights': 1, 'cancellation_policy': 1, 'accommodates': 1,
                                       'bedrooms': 1, 'beds': 1, 'number_of_reviews': 1, 'bathrooms': 1, 'price': 1,
                                       'cleaning_fee': 1, 'extra_people': 1, 'guests_included': 1, 'images.picture_url': 1,
                                       'review_scores.review_scores_rating': 1}):
    
    data1.append(i)
df1 =pd.json_normalize(data1)

In [4]:
df1.isnull().sum()
df1.isnull()
#as most of the null values are present in row(5555) so dropping it

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images.picture_url,review_scores.review_scores_rating
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5551,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True
5552,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5553,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5554,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5555,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [5]:
updated_df1=df1.drop(5555)
updated_df1.isnull().sum()

_id                                      0
listing_url                              0
name                                     0
property_type                            0
room_type                                0
bed_type                                 0
minimum_nights                           0
maximum_nights                           0
cancellation_policy                      0
accommodates                             0
bedrooms                                 5
beds                                    13
number_of_reviews                        0
bathrooms                               10
price                                    0
cleaning_fee                          1531
extra_people                             0
guests_included                          0
images.picture_url                       0
review_scores.review_scores_rating    1474
dtype: int64

In [6]:
updated_df1['bathrooms'] = updated_df1['bathrooms'].astype(str).astype(float) #TypeError: unsupported operand type(s) for +: 'Decimal128' and 'Decimal128' so converting it to python decimal
#Filling the missing values by mean because outliers are not present in the given dataset
updated_df1['cleaning_fee'].fillna("not specified",inplace=True)
updated_df1['beds']=updated_df1['beds'].fillna(updated_df1['beds'].mean())
updated_df1['bedrooms']=updated_df1['bedrooms'].fillna(updated_df1['bedrooms'].mean())
updated_df1['bathrooms']=updated_df1['bathrooms'].fillna(updated_df1['bathrooms'].mean())
updated_df1['review_scores.review_scores_rating']=updated_df1['review_scores.review_scores_rating'].fillna(updated_df1['review_scores.review_scores_rating'].mean())
updated_df1

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images.picture_url,review_scores.review_scores_rating
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8.0,3.0,5.0,51.0,1.0,80.00,35.00,15.00,6,https://a0.muscache.com/im/pictures/e83e702f-e...,89.00000
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4.0,1.0,2.0,0.0,1.0,317.00,187.00,0.00,1,https://a0.muscache.com/im/pictures/5b408b9e-4...,93.09924
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2.0,1.0,1.0,96.0,1.0,115.00,100.00,0.00,1,https://a0.muscache.com/im/pictures/15037101/5...,84.00000
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,flexible,1.0,1.0,1.0,1.0,1.5,40.00,not specified,0.00,1,https://a0.muscache.com/im/pictures/72844c8c-f...,100.00000
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,flexible,2.0,1.0,1.0,0.0,2.0,701.00,250.00,0.00,1,https://a0.muscache.com/im/pictures/59c516bd-c...,93.09924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9983221,https://www.airbnb.com/rooms/9983221,Cozy apartment downtown Porto,Apartment,Entire home/apt,Real Bed,3,1125,strict_14_with_grace_period,4.0,1.0,2.0,107.0,1.0,58.00,20.00,15.00,2,https://a0.muscache.com/im/pictures/15b74c6a-8...,98.00000
5551,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,House,Entire home/apt,Real Bed,1,1125,flexible,2.0,2.0,3.0,0.0,1.0,501.00,not specified,0.00,1,https://a0.muscache.com/im/pictures/e40d18b2-1...,93.09924
5552,9987200,https://www.airbnb.com/rooms/9987200,The best suite in Copacabana (total privacy),Aparthotel,Private room,Real Bed,3,60,flexible,3.0,1.0,3.0,90.0,1.0,101.00,100.00,50.00,2,https://a0.muscache.com/im/pictures/4a2a03e4-d...,97.00000
5553,9990304,https://www.airbnb.com/rooms/9990304,March Madness Special! Aina Nalu Platinum D107,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6.0,2.0,3.0,13.0,2.0,227.00,289.00,0.00,1,https://a0.muscache.com/im/pictures/7d08e433-5...,97.00000
5554,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6.0,2.0,4.0,15.0,2.0,220.00,315.00,0.00,1,https://a0.muscache.com/im/pictures/be1978c5-6...,92.00000

In [7]:
#host data
data2= []
for i in col.find({}, {'_id': 1,'host.host_id':1, 'host.host_name': 1,'host.host_url':1,'host.host_location':1,'host.host_response_time':1,'host.host_neighbourhood':1,'host.host_response_rate':1,'host.host_is_superhost':1,"host.host_has_profile_pic":1,'host.host_identity_verified':1,'host.host_listings_count':1,'host.host_total_listings_count':1,'host.host_verifications':1}):
    data2.append(i)
df2=pd.json_normalize(data2) 
df2.isnull().sum()

_id                                  0
host.host_id                         1
host.host_url                        1
host.host_name                       1
host.host_location                   1
host.host_response_time           1389
host.host_neighbourhood              1
host.host_response_rate           1389
host.host_is_superhost               1
host.host_has_profile_pic            1
host.host_identity_verified          1
host.host_listings_count             1
host.host_total_listings_count       1
host.host_verifications              1
dtype: int64

In [8]:
updated_df2=df2.drop(5555)
updated_df2.isnull().sum()

_id                                  0
host.host_id                         0
host.host_url                        0
host.host_name                       0
host.host_location                   0
host.host_response_time           1388
host.host_neighbourhood              0
host.host_response_rate           1388
host.host_is_superhost               0
host.host_has_profile_pic            0
host.host_identity_verified          0
host.host_listings_count             0
host.host_total_listings_count       0
host.host_verifications              0
dtype: int64

In [9]:
#filling the missing categorical values
updated_df2["host.host_response_time"].fillna("not specified",inplace=True)
updated_df2["host.host_response_rate"].fillna("not specified",inplace=True)

In [10]:
updated_df2["host.host_response_time"].fillna("not specified",inplace=True)
updated_df2["host.host_response_rate"].fillna("not specified",inplace=True)
updated_df2.isnull().sum()

_id                               0
host.host_id                      0
host.host_url                     0
host.host_name                    0
host.host_location                0
host.host_response_time           0
host.host_neighbourhood           0
host.host_response_rate           0
host.host_is_superhost            0
host.host_has_profile_pic         0
host.host_identity_verified       0
host.host_listings_count          0
host.host_total_listings_count    0
host.host_verifications           0
dtype: int64

In [11]:
#address data
data3=[]
for i in col.find({},{'_id':1,'address.street':1,'address.suburb':1,'address.government_area':1,'address.market':1,'address.country':1,'address.country_code':1}):
    data3.append(i)

df3=pd.json_normalize(data3)
df3.isnull().sum()

_id                        0
address.street             1
address.suburb             1
address.government_area    1
address.market             1
address.country            1
address.country_code       1
dtype: int64

In [12]:
updated_df3=df3.drop(5555)
updated_df3.isnull().sum()

_id                        0
address.street             0
address.suburb             0
address.government_area    0
address.market             0
address.country            0
address.country_code       0
dtype: int64

In [13]:
#Amenities data
data4=[]
for i in col.find({},{'_id':1,'amenities':1}):
    data4.append(i)
df4=pd.DataFrame(data4)
df4.isnull().sum()

_id          0
amenities    1
dtype: int64

In [14]:
updated_df4=df4.drop(5555)
updated_df4.isnull().sum()

_id          0
amenities    0
dtype: int64

In [15]:
#Address data
data5=[]
for i in col.find({},{"_id":1,'address.location.type':1,'address.location.is_location_exact':1}):
    data5.append(i)
df5=pd.json_normalize(data5)
df5.isnull().sum()

_id                                   0
address.location.type                 1
address.location.is_location_exact    1
dtype: int64

In [16]:
updated_df5=df5.drop(5555)
updated_df5.isnull().sum()

_id                                   0
address.location.type                 0
address.location.is_location_exact    0
dtype: int64

In [17]:
#extracting availability data of 30,60,90,365
data6=[]
for i in col.find({},{'_id':1,'availability.availability_30':1,'availability.availability_60':1,"availability.availability_90":1,'availability.availability_365':1}):
    data6.append(i)
df6=pd.json_normalize(data6)
df6.isnull().sum()

_id                              0
availability.availability_30     1
availability.availability_60     1
availability.availability_90     1
availability.availability_365    1
dtype: int64

In [18]:
updated_df6=df6.drop(5555)
updated_df6.isnull().sum()

_id                              0
availability.availability_30     0
availability.availability_60     0
availability.availability_90     0
availability.availability_365    0
dtype: int64

In [19]:
#Extracting coordinates(latitude,longitude) of airbnb dataset 
data7=[]
for i in col.find({}, {'_id': 1,'address.location.coordinates':1}):
    data7.append(i)
df7=pd.json_normalize(data7)
updated_df7=df7.drop(5555) #there is only one null values in the given dataset
longitude=[]
for i in range(5555):
    longitude.append(updated_df7['address.location.coordinates'][i][0])
longitude

latitude=[]
for i in range(5555):
    latitude.append(updated_df7['address.location.coordinates'][i][1])
    
df7= pd.DataFrame(list(zip(longitude,latitude)), columns=['Longitude', 'Latitude'])
df7.isnull().sum()

Longitude    0
Latitude     0
dtype: int64

In [20]:
#merging the latitude & longitude data 
coordinates_df=updated_df7.merge(df7,left_index=True,right_index=True)
coordinates_df=coordinates_df.drop(["address.location.coordinates"],axis=1)

In [21]:
# merge the dataframe based on common column
df=pd.merge(updated_df1,updated_df2,on="_id")
df=pd.merge(df,updated_df3,on="_id")
df=pd.merge(df,updated_df4,on="_id")
df=pd.merge(df,updated_df5,on="_id")
df=pd.merge(df,updated_df6,on="_id")
df=pd.merge(df,coordinates_df,on="_id")
df

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,address.country_code,amenities,address.location.type,address.location.is_location_exact,availability.availability_30,availability.availability_60,availability.availability_90,availability.availability_365,Longitude,Latitude
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8.0,...,PT,"[TV, Cable TV, Wifi, Kitchen, Paid parking off...",Point,False,28.0,47.0,74.0,239.0,-8.613080,41.141300
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4.0,...,BR,"[Wifi, Wheelchair accessible, Kitchen, Free pa...",Point,True,0.0,0.0,0.0,0.0,-43.230750,-22.966254
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2.0,...,US,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",Point,True,16.0,46.0,76.0,343.0,-157.839190,21.286340
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,flexible,1.0,...,US,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",Point,True,0.0,0.0,0.0,0.0,-73.936150,40.697910
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,flexible,2.0,...,BR,"[TV, Cable TV, Internet, Wifi, Air conditionin...",Point,True,28.0,58.0,88.0,363.0,-43.205047,-22.971951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9983221,https://www.airbnb.com/rooms/9983221,Cozy apartment downtown Porto,Apartment,Entire home/apt,Real Bed,3,1125,strict_14_with_grace_period,4.0,...,PT,"[TV, Cable TV, Internet, Wifi, Kitchen, Paid p...",Point,False,26.0,51.0,77.0,300.0,-8.616930,41.151370
5551,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,House,Entire home/apt,Real Bed,1,1125,flexible,2.0,...,TR,"[TV, Cable TV, Internet, Wifi, Kitchen, Buzzer...",Point,False,30.0,60.0,90.0,365.0,29.030790,40.985630
5552,9987200,https://www.airbnb.com/rooms/9987200,The best suite in Copacabana (total privacy),Aparthotel,Private room,Real Bed,3,60,flexible,3.0,...,BR,"[TV, Cable TV, Wifi, Air conditioning, Pool, G...",Point,True,7.0,29.0,53.0,53.0,-43.176533,-22.961076
5553,9990304,https://www.airbnb.com/rooms/9990304,March Madness Special! Aina Nalu Platinum D107,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6.0,...,US,"[TV, Cable TV, Wifi, Air conditioning, Wheelch...",Point,False,8.0,20.0,26.0,243.0,-156.676460,20.875610
5554,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6.0,...,US,"[TV, Wifi, Air conditioning, Pool, Kitchen, Fr...",Point,False,0.0,8.0,31.0,258.0,-156.667520,20.858940

In [22]:
df.dtypes

_id                                    object
listing_url                            object
name                                   object
property_type                          object
room_type                              object
bed_type                               object
minimum_nights                         object
maximum_nights                         object
cancellation_policy                    object
accommodates                          float64
bedrooms                              float64
beds                                  float64
number_of_reviews                     float64
bathrooms                             float64
price                                  object
cleaning_fee                           object
extra_people                           object
guests_included                        object
images.picture_url                     object
review_scores.review_scores_rating    float64
host.host_id                           object
host.host_url                          object
host.host_name                         object
host.host_location                     object
host.host_response_time                object
host.host_neighbourhood                object
host.host_response_rate                object
host.host_is_superhost                 object
host.host_has_profile_pic              object
host.host_identity_verified            object
host.host_listings_count              float64
host.host_total_listings_count        float64
host.host_verifications                object
address.street                         object
address.suburb                         object
address.government_area                object
address.market                         object
address.country                        object
address.country_code                   object
amenities                              object
address.location.type                  object
address.location.is_location_exact     object
availability.availability_30          float64
availability.availability_60          float64
availability.availability_90          float64
availability.availability_365         float64
Longitude                             float64
Latitude                              float64
dtype: object

In [23]:
#Datatype conversion
df['amenities'] = df['amenities'].apply(lambda x: ', '.join(x))
df['host.host_verifications'] = df['host.host_verifications'].apply(lambda x: ', '.join(x))
df['price'] = df['price'].astype(str).astype(float).astype(int)
df['cleaning_fee'] = df['cleaning_fee'].apply(lambda x: int(
    float(str(x))) if x != 'not specified' else 'not specified')
df['extra_people'] = df['extra_people'].astype(
    str).astype(float).astype(int)
df['guests_included'] = df['guests_included'].astype(
    str).astype(int)

df.isnull().sum()

_id                                   0
listing_url                           0
name                                  0
property_type                         0
room_type                             0
bed_type                              0
minimum_nights                        0
maximum_nights                        0
cancellation_policy                   0
accommodates                          0
bedrooms                              0
beds                                  0
number_of_reviews                     0
bathrooms                             0
price                                 0
cleaning_fee                          0
extra_people                          0
guests_included                       0
images.picture_url                    0
review_scores.review_scores_rating    0
host.host_id                          0
host.host_url                         0
host.host_name                        0
host.host_location                    0
host.host_response_time               0
host.host_neighbourhood               0
host.host_response_rate               0
host.host_is_superhost                0
host.host_has_profile_pic             0
host.host_identity_verified           0
host.host_listings_count              0
host.host_total_listings_count        0
host.host_verifications               0
address.street                        0
address.suburb                        0
address.government_area               0
address.market                        0
address.country                       0
address.country_code                  0
amenities                             0
address.location.type                 0
address.location.is_location_exact    0
availability.availability_30          0
availability.availability_60          0
availability.availability_90          0
availability.availability_365         0
Longitude                             0
Latitude                              0
dtype: int64

In [24]:
#converting to excel file to work with tableau
df.to_excel('airbnb.xlsx', index=False)

In [26]:
#Inserting data into sql database to perform analysis easily
mydb=mysql.connector.connect(host='localhost',
                            user='root',
                            port=3306,
                            password="Priya1234",
                            auth_plugin='mysql_native_password')
mycursor=mydb.cursor()
mycursor.execute("Create Database IF NOT EXISTS airbnb")
mycursor.execute("use airbnb")
mycursor.execute('''Create Table IF NOT EXISTS airbnb_data(
                            _id varchar(255) primary key,
                            listing_url text ,
                            name    varchar(255),
                            property_type varchar(255),
                            room_type  varchar(255),
                            bed_type varchar(255),
                            minimum_nights int,
                            maximum_nights int,
                            cancellation_policy varchar(255),
                            accommodates int,
                            bedrooms int,
                            beds int,
                            number_of_reviews int,
                            bathrooms float,
                            price int,
                            cleaning_fee varchar(255),
                            extra_people int,
                            guests_included int,
                            images text,
                            review_scores int,
                            host_id varchar(255),
                            host_url text,
                            host_name varchar(255),
                            host_location varchar(255),               
                            host_response_time varchar(255),        
                            host_neighbourhood varchar(255),       
                            host_response_rate  varchar(255),        
                            host_is_superhost  varchar(255),          
                            host_has_profile_pic varchar(255),     
                            host_identity_verified varchar(255),    
                            host_listings_count    int,     
                            host_total_listings_count int,
                            host_verifications varchar(255),         
                            address_street  varchar(255),
                            address_suburb  varchar(255),  
                            address_government_area varchar(255),
                            address_market varchar(255),
                            address_country varchar(255),
                            address_country_code varchar(255),
                            amenities mediumtext,
                            location_type varchar(255),
                            is_location_exact varchar(255),
                            availability_30 int,
                            availability_60 int,
                            availability_90 int,
                            availability_365 int,
                            Longitude float,
                            Latitude float)''')

In [27]:

mycursor.executemany("insert into airbnb_data \
                      values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,\
                             %s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,\
                             %s,%s,%s,%s,%s,%s,%s,%s)",df.values.tolist())
mydb.commit()